@import '~bootstrap/scss/bootstrap';
.focus-ring {
    $focus-ring-width: .25rem;
    $focus-ring-opacity: .25;
    $focus-ring-color: rgba($primary, $focus-ring-opacity);
    $focus-ring-blur: 0;
    $focus-ring-box-shadow: 0 0 $focus-ring-blur $focus-ring-width $focus-ring-color;

}
